aiofile==3.3.3
aiohttp~=3.6.2
asyncpg==0.21.0
asyncpraw~=7.2.0
asyncspotify==0.12.1
beautifulsoup4~=4.9.3
dateparser==1.0.0
dblpy~=0.4.0
discord.py[voice]~=1.6.0
dpy-http-server
faker==4.4.0
lavalink~=3.1.2
lxml~=4.6.3
num2words==0.5.10
numpy==1.19.1
pillow~=8.0.0
pokepy~=0.6.1
psutil==5.7.2
python-dotenv~=0.14.0
setuppanel==1.0.3